<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Costume</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<table>
    <tr id="table-header">
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th></th>
        <th></th>
    </tr>
    <tr th:each="costume: ${costumes}">
        <td><a th:href="@{/allCostumes/{id}(id=${costume.id})}" th:text="${costume.id}"></a></td>
        <td th:text="${costume.name}"></td>
        <td th:text="${costume.description}"></td>
        <td><a th:href="@{/deleteCostume/{id}(id=${costume.id})}">Delete</a></td>
        <td><a th:href="@{/updateCostume/{id}(id=${costume.id})}">Update</a></td>
    </tr>
</table>
<a href="/insertCostume">New Costume</a><br>
<a href="/allCostumes" th:if="${getById}">All Costumes</a>
</body>
<div class="left-menu">
    <a href="/allAnimators">all Animators</a><br>
    <a href="/allCategories">all Categories</a><br>
    <a href="/allCostumes">all Costumes</a><br>
    <a href="/allDetails">all ADetails</a><br>
    <a href="/allUsers">all Users</a><br>
    <a href="/allEventOrders">all EventOrders</a><br>
</div>
</html>