<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Costume</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
</div>
<h3 th:if="${update}">Costume id: <span th:text="${costume.id}"></span></h3>
<form class="form-style-1"  action="#" th:action="${path}" th:object="${costume}" method="post">
    <h3>Costume name</h3>
    <label>
        <input type="text" th:field="*{name}" required th:value="${costume.name}">
    </label><br>
    <h3>Costume description</h3>
    <label>
        <input type="text" th:field="*{description}" required th:value="${costume.description}">
    </label><br>
    <input type="submit">
</form>
<div th:switch="${update}">
<a th:case="${update}" th:href="@{/allCostumes/{id}(id=${costume.id})}">Go back</a>
<a th:case="*" href="/allCostumes">Go back</a>
</div>
<div th:insert="navigation :: navigation"></div>

</body>
</html>