<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Actor</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<table>
    <tr id="table-header">
        <th>ID</th>
        <th>Name</th>
        <th></th>
        <th></th>
    </tr>
    <tr th:each="animator: ${animators}">
        <td><a th:href="@{/allActors/{id}(id=${animator.id})}" th:text="${animator.id}"></a></td>
        <td th:text="${animator.name}"></td>
        <td><a th:href="@{/deleteActor/{id}(id=${animator.id})}">Delete</a></td>
        <td><a th:href="@{/updateActor/{id}(id=${animator.id})}">Update</a></td>
    </tr>
</table>
<a href="/insertActor">New Actor</a><br>
<a href="/allActors" th:if="${getById}">All Actors</a>
<div th:insert="navigation :: navigation"></div>
</body>
</html>