<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Actor</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
</div>
<h3 th:if="${update}">Actor id: <span th:text="${animator.id}"></span></h3>
<form class="form-style-1"  action="#" th:action="${path}" th:object="${animator}" method="post">
    <h3>Actor name</h3>
    <input type="text" th:field="*{name}" required th:value="${animator.name}"><br>
    <input type="submit">
</form>
<div th:switch="${update}">
<a th:case="${update}" th:href="@{/allActors/{id}(id=${animator.id})}">Go back</a>
<a th:case="*" href="/allActors">Go back</a>
</div>
<div th:insert="navigation :: navigation"></div>
</body>
</html>