<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>EventOrder</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div th:insert="shoppingCart :: shoppingCart"></div>
<table>
    <tr id="table-header">
        <th>ID</th>
        <th>User phone</th>
        <th>Address</th>
        <th>Date</th>
        <th>Time</th>
        <th>Scenario</th>
        <th>Actors</th>
        <th>Costumes</th>
        <th>Price</th>
        <th>Status</th>
        <th></th>
        <th></th>
    </tr>
    <tr th:each="entry: ${map}">
        <td><a th:href="@{/allEventOrder/{id}(id=${entry.key.id})}" th:text="${entry.key.id}"></a></td>
        <td th:text="${entry.key.user.phoneNumber}"></td>
        <td th:text="${entry.key?.address}"></td>
        <td th:text="${entry.key?.date}"></td>
        <td th:text="${entry.key?.time}"></td>
        <td><a class="id-link" th:href="@{/allActors/{id}(id=${entry.value[0].scenario.id})}" th:text="'[' +${entry.value[0].scenario.name} + ']'"></a></td>
        <td><a class="id-link" th:each="cart: ${entry.value}" th:href="@{/allActors/{id}(id=${cart?.actor?.id})}" th:text="'[' +${cart?.actor?.lastName} + ']'"></a></td>
        <td><a class="id-link" th:each="cart: ${entry.value}" th:href="@{/allCostumes/{id}(id=${cart?.costume?.id})}" th:text="'[' +${cart?.costume?.name} + ']'"></a></td>
        <td th:text="${priceMap.get(entry.key)} + ' UAH'"></td>
        <td th:text="${entry.key.status.name}"></td>
        <td th:if="${session?.auth?.role?.name == 'ADMIN'}"><a th:href="@{/deleteEventOrder/{id}(id=${entry.key.id})}">Delete</a></td>
        <td th:if="${session?.auth?.role?.name == 'ADMIN'}"><a th:href="@{/updateEventOrder/{id}(id=${entry.key.id})}">Update</a></td>
    </tr>
</table>
<a href="/insertEventOrders">New order</a><br>
<a href="/allEventOrder" th:if="${getById}">All orders</a>
<div th:insert="navigation :: navigation"></div>

</body>
</html>