<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>EventOrder</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
</div>
<h3 th:if="${update}">EventOrder id: <span th:text="${eventOrder.id}"></span></h3>
<form class="form-style-1"  action="#" th:action="${path}" th:object="${eventOrder}" method="post">
    <input type="text" th:field="*{id}" required th:value="${eventOrder.id}" hidden readonly><br>
    <input type="text" th:field="*{user}" required th:value="${eventOrder.user}" hidden readonly><br>
    <div th:switch="${session?.auth?.role?.name}">
        <div th:case="ADMIN" >
            <h3>Order Status</h3>
            <select name="statusId" required>
                <option th:each="status : ${statusList}"
                        th:value="${status.id}" th:text="${status.name}"></option>
            </select><br>
            <h3>Order actors</h3>
            <select name="actorId" multiple>
                <option th:each="actor : ${actorList}"
                        th:value="${actor.id}" th:text="${actor.lastName}"></option>
            </select><br>
        </div>
        <div th:case="*">
            <input type="text" th:field="*{status}" required th:value="${eventOrder.status}" hidden readonly><br>
        </div>
    </div><br>
    <h3>Order address</h3>
    <input type="text" th:field="*{address}" required th:value="${eventOrder.address}"><br>
    <h3>Details date</h3>
    <input type="date" th:field="*{date}" required th:value="${eventOrder.date}"><br>
    <h3>Details Time</h3>
    <input type="time" th:field="*{time}" required th:value="${eventOrder.time}"><br>
    <input type="submit">
</form>
<div th:switch="${update}">
<a th:case="${update}" th:href="@{/allEventOrder/{id}(id=${eventOrder.id})}">Go back</a>
<a th:case="*" href="/allEventOrder">Go back</a>
</div>
<div th:insert="navigation :: navigation"></div>

</body>
</html>