<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>User</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<div th:insert="shoppingCart :: shoppingCart"></div>
<table>
    <tr id="table-header">
        <th>ID</th>
        <th>firstName</th>
        <th>lastName</th>
        <th>midName</th>
        <th>phoneNumber</th>
        <th>email</th>
        <th>birthday</th>
        <th></th>
        <th></th>
    </tr>
    <tr th:each="user: ${users}">
        <td><a th:href="@{/allUsers/{id}(id=${user.id})}" th:text="${user.id}"></a></td>
        <td th:text="${user.firstName}"></td>
        <td th:text="${user.lastName}"></td>
        <td th:text="${user.midName}"></td>
        <td th:text="${user.phoneNumber}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.birthday}"></td>
        <td><a th:href="@{/deleteUser/{id}(id=${user.id})}">Delete</a></td>
        <td><a th:href="@{/updateUser/{id}(id=${user.id})}">Update</a></td>
    </tr>
</table>
<a href="/insertUser">New User</a><br>
<a href="/allUsers" th:if="${getById}">All Users</a>
<div th:insert="navigation :: navigation"></div>
</body>
</html>