<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>User</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
</div>
<div class="form">
<h3 th:if="${update}">User id: <span th:text="${user.id}"></span></h3>
<form class="form-style-1"  action="#" th:action="${path}" th:object="${user}" method="post">
    <h1>Create new user</h1>
    <h3>User firstName</h3>
    <input type="text" th:field="*{firstName}" required th:value="${user.firstName}"><br>
    <h3>User lastName</h3>
    <input type="text" th:field="*{lastName}" required th:value="${user.lastName}"><br>
    <h3>User midName</h3>
    <input type="text" th:field="*{midName}" required th:value="${user.midName}"><br>
<!--    <h3>User password</h3>-->
<!--&lt;!&ndash;    <input type="password" th:field="*{password}" required th:value="${user.password}"><br>&ndash;&gt;-->
<!--&lt;!&ndash;    <h3>User email</h3>&ndash;&gt;-->
    <h3>User phone</h3>
    <input type="tel" th:field="*{phoneNumber}" required th:value="${user.phoneNumber}"><br>
    <h3>User email</h3>
    <input type="email" th:field="*{email}" required th:value="${user.email}"><br>
    <h3>User birthday</h3>
    <input type="date" th:field="*{birthday}" required th:value="${user.birthday}"><br>
<!--    <h3>User role</h3>-->
<!--    <select th:field="*{role}">-->
<!--        <option th:each="role : ${T(com.nure.API_lab.entities.Role).values()}"-->
<!--                th:value="${role}" th:text="${role}"></option>-->
<!--    </select><br>-->
    <input type="submit">
</form>
</div>
<div th:switch="${update}">
<a th:case="${update}" th:href="@{/allUsers/{id}(id=${user.id})}">Go back</a>
<a th:case="*" href="/allUsers">Go back</a>
</div>
<div th:insert="navigation :: navigation"></div>
</body>
</html>