<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Category</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div th:insert="shoppingCart :: shoppingCart"></div>
<table>
    <tr id="table-header">
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Scenarios</th>
        <th></th>
        <th></th>
    </tr>
    <tr th:each="category: ${categories}">
        <td><a th:href="@{/allCategories/{id}(id=${category.id})}" th:text="${category.id}"></a></td>
        <td th:text="${category.name}"></td>
        <td th:text="${category.description}"></td>
        <td><a class="id-link" th:each="scenario: ${category.scenarios}" th:href="@{/allScenario/{id}(id=${scenario.id})}" th:text="'[' +${scenario.name} + ']'"></a></td>
        <td><a th:href="@{/deleteCategory/{id}(id=${category.id})}">Delete</a></td>
        <td><a th:href="@{/updateCategory/{id}(id=${category.id})}">Update</a></td>
    </tr>
</table>
<a href="/insertCategory">New Category</a><br>
<a href="/allCategories" th:if="${getById}">All Categories</a>
<div th:insert="navigation :: navigation"></div>

</body>
</html>