<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Category</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<table>
    <tr id="table-header">
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Actors</th>
        <th>Costumes</th>
        <th></th>
        <th></th>
    </tr>
    <tr th:each="category: ${categories}">
        <td><a th:href="@{/allCategories/{id}(id=${category.id})}" th:text="${category.id}"></a></td>
        <td th:text="${category.name}"></td>
        <td th:text="${category.price}"></td>
        <td><a class="id-link" th:each="animator: ${category.animators}" th:href="@{/allActors/{id}(id=${animator.id})}" th:text="'[' +${animator.name} + ']'"></a></td>
        <td><a class="id-link" th:each="costume: ${category.costumes}" th:href="@{/allCostumes/{id}(id=${costume.id})}" th:text="'[' + ${costume.name} + ']'"></a></td>
        <td><a th:href="@{/deleteCategory/{id}(id=${category.id})}">Delete</a></td>
        <td><a th:href="@{/updateCategory/{id}(id=${category.id})}">Update</a></td>
    </tr>
</table>
<a href="/insertCategory">New Category</a><br>
<a href="/allCategories" th:if="${getById}">All Categories</a>
<div th:insert="navigation :: navigation"></div>

</body>
</html>