<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Category</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
</div>
<h3 th:if="${update}">Category id: <span th:text="${category.id}"></span></h3>
<form class="form-style-1"  action="#" th:action="${path}" th:object="${category}" method="post">
    <h3>Category name</h3>
    <input type="text" th:field="*{name}" required th:value="${category.name}"><br>
    <h3>Category description</h3>
    <input type="text" th:field="*{description}" required th:value="${category.description}"><br>
    <h3>Category scenarios</h3>
    <select name="scenarioId" required multiple>
        <option th:each="scenario : ${scenarioList}"
                th:value="${scenario.id}" th:text="${scenario.name}"></option>
    </select>
    <input type="submit">
</form>
<div th:switch="${update}">
<a th:case="${update}" th:href="@{/allCategories/{id}(id=${category.id})}">Go back</a>
<a th:case="*" href="/allCategories">Go back</a>
</div>
<div th:insert="navigation :: navigation"></div>

</body>
</html>