<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Details</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<table>
    <tr id="table-header">
        <th>ID</th>
        <th>address</th>
        <th>user</th>
        <th></th>
        <th></th>
    </tr>
    <tr th:each="detail: ${details}">
        <td><a th:href="@{/allDetails/{id}(id=${detail.id})}" th:text="${detail.id}"></a></td>
        <td th:text="${detail.address}"></td>
        <td><a th:href="@{/allUsers/{id}(id=${detail.user.id})}" th:text="${detail.user.id}"></a></td>
        <td><a th:href="@{/deleteDetails/{id}(id=${detail.id})}">Delete</a></td>
        <td><a th:href="@{/updateDetails/{id}(id=${detail.id})}">Update</a></td>
    </tr>
</table>
<a href="/insertDetails">New Details</a><br>
<a href="/allDetails" th:if="${getById}">All Details</a>
<div th:insert="navigation :: navigation"></div>

</body>
</html>