<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Details</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
</div>
<h3 th:if="${update}">Details id: <span th:text="${details.id}"></span></h3>
<form class="form-style-1"  action="#" th:action="${path}" th:object="${details}" method="post">
    <h3>Details address</h3>
    <input type="text" th:field="*{address}" required th:value="${details.address}"><br>
    <h3>User</h3>
    <select name="userId" required multiple>
        <option th:each="user : ${userList}"
                th:value="${user.id}" th:text="${user.email}"></option>
    </select>
    <input type="submit">
</form>
<div th:switch="${update}">
<a th:case="${update}" th:href="@{/allDetails/{id}(id=${details.id})}">Go back</a>
<a th:case="*" href="/allDetails">Go back</a>
</div>
<div th:insert="navigation :: navigation"></div>

</body>
</html>