<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>User</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div th:insert="shoppingCart :: shoppingCart"></div>
</div>
<div class="form">
<!--<h3 th:if="${update}">User id: <span th:text="${user.id}"></span></h3>-->
<form class="form-style-1"  action="#" th:action="${path}" th:object="${authorization}" method="post">
    <h1>Enter credential for new user</h1>
    <h3>User login</h3>
    <input type="text" th:field="*{login}" required th:value="${authorization.login}"><br>
    <h3>User password</h3>
    <input type="password" th:field="*{password}" required th:value="${authorization.password}"><br>
    <h3>User role</h3>
    <select name="roleId">
        <option th:each="role : ${roles}"
                th:value="${role.id}" th:text="${role.name}"></option>
    </select><br>
    <input type="submit">
</form>
</div>
<div th:switch="${update}">
<!--<a th:case="${update}" th:href="@{/allUsers/{id}(id=${user.id})}">Go back</a>-->
<a th:case="*" href="/allUsers">Go back</a>
</div>
<div th:insert="navigation :: navigation"></div>
</body>
</html>