<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>

<form class="form-style-1"  action="#" th:action="${path}" th:object="${authorization}" method="post">
    <H1>Login Page</H1>
    <h2 th:text="${errorMessage}" class="loginError"></h2>
    <h3>User login</h3>
    <input type="text" th:field="*{login}" required th:value="${authorization.login}"><br>
    <h3>User password</h3>
    <input type="password" th:field="*{password}" required th:value="${authorization.password}"><br>
    <input type="submit">
</form>
<div th:insert="navigation :: navigation"></div>
</body>
</html>